.heading1{
    padding: 60px;
    background-color: blue;
    color: yellow ;
}

.paragraph1{
    color: rgb(255, 0, 0);
}

.heading3{
    color: green;

}

.iframe{
    width: 300px; 
    height: 200px;
}